/*input[type=text],input[type=number],input[type=email]{*/
    /*width: 100%;*/
    /*padding: 12px 20px;*/
    /*margin: 9px 0;*/
    /*display: inline-block;*/
    /*border: 2px solid #c265cc;*/
    /*border-radius: 5px;*/
    /*box-sizing: border-box;*/


/*}*/
/*input[type=submit]{*/
    /*width: 100%;*/
    /*background-color: #c265cc;*/
    /*color: white;*/
    /*padding: 14px 20px;*/
    /*margin: 9px 0;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    /*cursor: pointer;*/
/*}*/

form{
    margin-top: 2em;
    border: 5px dotted green;
    border-radius: 6px;
    color: white;
    padding: 2em;
}
a{
    color: white!important;
}
img{
    height: 100px;
    width: 100px;
    border: 2px solid blue !important;
}

.jumbotron{
    background-color: black !important;
    color: white;
    text-align: center;
}
ul li{
    list-style: none;
}

footer{
    text-align: center;
    color: #ffffff;
    bottom: 200px;
    background-color: black;
    padding: 5px;
    font-size: 15px;
}